### CMake ###
mit6824_lab1/build/bin/
mit6824_lab1/build/CMakeFiles/
mit6824_lab1/build/thirdparty/
mit6824_lab1/build/CMakeCache.txt
mit6824_lab1/build/cmake_install.cmake

# thirdparty
mit6824_lab1/thirdparty/Imagine_System/

# lib
*.bak
*.so*

# bin
mit6824_lab1/bin/

# vs
.vscode