### CMake ###
mit6824_lab1/build/bin/
mit6824_lab1/build/CMakeFiles/
mit6824_lab1/build/thirdparty/
mit6824_lab1/build/CMakeCache.txt
mit6824_lab1/build/cmake_install.cmake

# thirdparty
mit6824_lab1/thirdparty/

# lib
*.bak
*.so*
*.a*

# bin
mit6824_lab1/bin/*

# vs
.vscode

# test
mit6824_lab1/test/*
!mit6824_lab1/test/test.sh
!mit6824_lab1/test/testfile.txt